* {
	border: 0 none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #E00;
	border-left: 0.5em solid #DDD;
	padding-left: 0.5em;
}
a:hover {
	border-left: 0.5em solid #E00;
}
body {
	display: table;
}
#menu {
	padding: 1em 0;
	display: block;
	vertical-align: top;
}
#menu a.toggle {
	display: inline-block;
	background-color: #E00;
	width: 100%;
	height: 1em;
	border: 0;
}
#menu > a {
	display: none;
	padding: 2px;
}
#menu.active > a {
	display: block;
}

.word.common {
	font-weight: bold;
}
.word > div {
	vertical-align: top;
	display: inline-block;
}
.word:nth-child(even) {
	background-color: #FAFAFA;
}
.word > div + div {
	font-style: italic;
}
.word > div {
	width: 10em;
	display: inline-block;
	padding: 2px;
}


body {
	font-family: sans;
	background-color: #FFF;
	color: #000;
	width: 100%;
	min-height: 100%;
	position: absolute;
}

#menu {
	padding: 1em;
	background-color: #DDD;
}

#content {
	padding: 1em;
	align-items: stretch;
}

#content > p {
	margin-bottom: 1em;
}

#extra {
	flex-growblock: 2;
}

@media (min-width: 640px) {
	body {
		font-size: 16px;
	}
}

@media (min-width: 40em) {
	#menu {
		width: 10em;
		display: table-cell;
		padding: 1em 0;
	}
	#menu a.toggle {
		display: none;
	}
	#menu > a {
		display: block;
	}
	.word > div + div {
		width: 20em;
	}
}
